<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>従業員情報</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h1 th:text="${title}"></h1>
	<table th:each="data : ${employee}" border="1">
		<tr>
		    <th>社員番号</th>
		    <td th:text="${employee.code}"></td>
		</tr>
		<tr>
			<th>氏名</th>
			<td th:text="${data.name}"></td>
		</tr>
		<tr>
			<th>権限</th>
			<td th:text="${data.role}"></td>
		</tr>
		<tr>
			<th>登録日時</th>
			<td th:text="${data.createdAt}"></td>
		</tr>
	    <tr >
	        <th>更新日時</th>
	        <td th:text="${data.updatedAt}"></td>
	    </tr>
    </table>
    <a th:href="@{/employee/update/{code}/(code=${employee.code})}">従業員情報の編集</a><br>
    <a th:href="@{/employee/list}">一覧に戻る</a>
</body>
</html>